@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.card-image img{
    width: 150px;
    margin: 0 auto;
    height: 180px;
    object-fit: contain;
}
.card{
    min-height: 350px;
    padding: 1rem;
    position: relative;
    height: 420px;
}

.product-price-category{
    position: absolute;
    bottom: 20px;
}